<div class="container">
    <h2>Formulario de Alumnos</h2>
    <form [formGroup]="alumnoForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" formControlName="nombre">
        <div *ngIf="alumnoForm.get('nombre')?.hasError('required')" class="alert alert-danger">
          El nombre es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" formControlName="apellido">
        <div *ngIf="alumnoForm.get('apellido')?.hasError('required')" class="alert alert-danger">
          El apellido es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="nota">Nota:</label>
        <input type="number" class="form-control" formControlName="nota">
        <div *ngIf="alumnoForm.get('nota')?.hasError('required')" class="alert alert-danger">
          La nota es obligatoria.
        </div>
        <div *ngIf="alumnoForm.get('nota')?.hasError('min')" class="alert alert-danger">
          La nota no puede ser menor que 0.
        </div>
        <div *ngIf="alumnoForm.get('nota')?.hasError('max')" class="alert alert-danger">
          La nota no puede ser mayor que 10.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
  